/* ===== general styles ===== */

html {
    margin: 0;
    padding: 0;
    color: black;
    background: white;
}

body {
    margin: 0;
    padding: 0 1em 2em 8.5em;
    line-height: 1.35;
    color: black;
    background: white top left repeat-y;
}

body, th, td {
    font-family: sans-serif, Droid Sans Fallback;
}

pre {
    white-space: pre-wrap;
}
pre, code {
    font-size: inherit;
    font-family: monospace, Droid Sans Fallback, sans-serif; 
    font-variant: normal; 
}
pre strong {
    color: black;
    font: inherit;
    font-weight: bold;
    background: yellow; 
}
pre em {
    font-weight: bolder;
    font-style: normal; 
}

dt, dfn {
    font-weight: bold;
    font-style: normal; 
}

a[href^="#"] {
    text-decoration: none;
    border-bottom: 2px solid #B6B;
}
a[href^="#"]::before {
    content: '\21D2\A0'; /* rightwards double arrow, non-breaking space */
}

:link {
    color: #00C;
    background: transparent 
}
:visited {
    color: #609;
    background: transparent 
}
:link:active, :visited:active {
    color: #C00;
    background: transparent
}
:link:hover, :visited:hover {
    background: #ffa;
}
code :link, code :visited {
    color: inherit;
}
:target {
   background:         #ffa;
   -moz-box-shadow:    0 0 25px #ffa;
   -webkit-box-shadow: 0 0 150px #ffa;
   box-shadow:         0 0 25px #ffa;
}

/* ===== headers ===== */

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    text-rendering: optimiseLegibility;
    page-break-after: avoid;
}
h1, h2, h3 {
    color: #770a66;
    background: transparent;
}
h1 {
    font: 900 200% sans-serif, Droid Sans Fallback;
    margin: 0.5em 0 0.5em 0;
}
h2 {
    font: 800 140% sans-serif, Droid Sans Fallback;
    margin: 1.5em 0 1em 0;
    page-break-before: always;
}
h3 {
    font: 800 125% sans-serif, Droid Sans Fallback;
    margin: 1.5em 0 1em 0;
}
h4 {
    font: 800 110% sans-serif, Droid Sans Fallback;
    margin: 1.5em 0 0.75em 0;
}
h5 {
    font: 800 100% sans-serif, Droid Sans Fallback;
    margin: 1.5em 0 1em;
}
h6 {
    font: 600 italic 100% sans-serif, Droid Sans Fallback;
    margin: 1.5em 0 1em;
}
h1 + h2 {
    page-break-before: auto;
}

/* ===== copyright notices ===== */

p.copyright { 
    font-size: 0.6em; 
    font-style: oblique; 
    margin: 0; 
}

/* ===== warnings ===== */

.warning {
    color: red; 
    background: transparent; 
    font-weight: bolder; 
    font-style: italic; 
}
.warning::before {
    font-style: normal; 
    content: '\26A0 Warning! '; /* warning sign */
}

/* ===== changes ===== */

ins {
    background: green;
    color: white;
    text-decoration: none;
}
del {
    background: maroon;
    color: white;
    text-decoration: line-through;
}

/* ===== element descriptions (<h4>header</h4><div class=element>...detailed description...</div>) ===== */
/*
h4 {
    position: relative;
    z-index: 3;
}
.element {
    background: #FFEEFF;
    color: black; 
    margin: 0 0 1em 0.15em; 
    padding: 0 1em 0.25em 0.75em; 
    border-left: solid #FF99FF 0.25em; 
    position: relative; 
    z-index: 1; 
}
.element::before { 
    position: absolute; 
    z-index: 2;
    top: 0; 
    left: -1.15em;
    height: 2em; 
    width: 0.9em; 
    background: #FFEEFF; 
    content: ' ';
    border-style: none none solid solid;
    border-color: #FF99FF;
    border-width: 0.25em; 
}
h4 + .element, h4 + div + .element {
    margin-top: -2.5em;
    padding-top: 2em; 
}
*/

/* ===== IDL ===== */

pre.idl {
    border: solid thin;
    background: #EEEEEE;
    color: black;
    padding: 0.5em 1em;
    position:relative;
    margin: 1em 0 1em 2em;
}
pre.idl :link, pre.idl :visited {
    color: inherit;
    background: transparent;
}
pre.idl::before {
    content: "IDL";
    font: bold small sans-serif;
    padding: 0.5em;
    background: white;
    position: absolute;
    top: 0;
    margin: -1px 0 0 -4em;
    width: 1.5em;
    border: thin solid;
    border-radius: 0 0 0 0.5em
}

/* ===== HTML ===== */

pre.html {
    border: solid thin;
    background: #EEEEEE;
    color: black;
    padding: 0.5em 1em;
    margin: 1em 0 1em 2em;
}

/* ===== CSS ===== */

pre.css {
    border: solid thin black;
    background: #FFE;
    color: black;
    padding: 0.5em 1em;
    margin: 1em 0 1em 2em;
}

/* ===== examples ===== */

.example {
    counter-increment: exampleno;
}
div.example, p.example, pre.example {
    background: #FFF8DD;
    padding: 1em 0.5em 0.5em 0.5em;
    margin: 1em 0 1em 2em;
    border: thin solid #999;
    position: relative;
    clear: both;
    color: #600;
}
div.example::before, p.example::before, pre.example::before {
    content: "Example";
    content: "Example " counter(exampleno, upper-roman);
    font: bold small sans-serif;
    position: absolute;
    top: -0.6em;
    left: -2.5em;
    min-width: 7.5em;
    text-align: center;
    line-height: 1em;
    color: #FFF8DD;
    background: #600;
    padding: 0.1em;
    border: thin solid #999;
}

.illegal { color: red }

/* ===== open questions ===== */

.question { 
    margin: 1em;
    border: single thick maroon; 
    padding: 1em; 
    background: #FFFFDD; 
}

/* ===== issues ===== */

.issue { 
    margin: 1em;
    border: double thick red; 
    padding: 1em; 
    background: #FFFFCC; 
}

/* ===== FIXMEs ===== */

em.fixme::before {
    content: 'FIXME:';
    color: White;
    background-color: Red;
    padding: 0 0.2em;
    border-radius: 0.2em;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8em;
}

/* ===== notes ===== */

.note {
    color: purple;
    background: transparent;
    font-weight: bolder; 
    font-style: italic; 
    font-family: sans-serif, Droid Sans Fallback; 
}
div.note::before, p.note::before { 
    content: 'Note: '; 
}
.note em, .warning em, .note i, .warning i { 
    font-style: normal; 
}

/* ===== if-then switches ===== */

dl.switch {
    padding-left: 2em;
}
dl.switch > dt {
    text-indent: -1.5em;
}
dl.switch > dt:before {
    content: '\21AA'; /* rightwards arrow with hook */
    padding: 0 0.5em 0 0;
    display: inline-block;
    width: 1em;
    text-align: right;
    line-height: 0.5em; 
}

/* ===== <ul> as single line reference list ("=> foo, bar, baz") ===== */

.reflist { 
    margin-top: -0.75em;
    margin-bottom: 1em;
    line-height: 1.5; 
}
.reflist::before { 
    content: '\21D2\A0'; /* rightwards double arrow, non-breaking space */
    font-size: 1.2em;
    font-weight: 900; 
}
.reflist li { 
    display: inline; 
}
.reflist li:not(:last-child)::after { 
    content: ', '; 
}
.reflist li > span { 
    text-transform: lowercase; 
}
.reflist li * { 
    text-transform: none; 
}
