/* Adapted from http://www.whatwg.org/style/specification */

html {
    margin: 0;
    padding: 0;
    color: black;
    background: white;
}
body {
    margin: 0;
    padding: 0 1em 2em 8.5em;
    line-height: 1.35;
    color: black;
    background: white top left repeat-y;
}

body, th, td {
    font-family: sans-serif, Droid Sans Fallback;
}

.head {
    margin-bottom:1em;
    display: block;
}
.head h1 {
    margin: 0; 
}
.head h2 {
    margin-top: 0; 
}
.head .logo { 
    float: right; margin: 0 1em; 
}
.head .logo img { 
    display: block;
    margin: 0 0 0 auto;
    border: none 
}
.head dl { 
    margin: 1em 0; 
}

p.copyright { 
    font-size: 0.6em; 
    font-style: oblique; 
    margin: 0; 
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
    text-rendering: optimiseLegibility;
    page-break-after: avoid;
}
h1, h2, h3 {
    color: #770a66;
    background: transparent;
}
h1 {
    font: 900 200% sans-serif, Droid Sans Fallback;
    margin-bottom: 1em;
}
h1.allcaps {
    font: 900 350% sans-serif, Droid Sans Fallback;
    letter-spacing: 2px;
}
h2 {
    font: 800 140% sans-serif, Droid Sans Fallback;
    margin: 1.5em 0 1em 0;
    page-break-before: always;
}
h3 {
    font: 800 125% sans-serif, Droid Sans Fallback;
    margin: 1.5em 0 1em 0;
}
h4 {
    font: 800 110% sans-serif, Droid Sans Fallback;
    margin: 1.5em 0 0.75em 0;
    position: relative;
    z-index: 3;
}
h5 {
    font: 800 100% sans-serif, Droid Sans Fallback;
    margin: 1.5em 0 1em;
}
h6 {
    font: 600 italic 100% sans-serif, Droid Sans Fallback;
    margin: 1.5em 0 1em;
}
/*
h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6, h1 + div + h2, h2 + div + h3, h3 + div + h4, h4 + div + h5, h5 + div + h6 {
    margin-top: 0.5em; 
}
*/
h1 + h2, hr + h2.no-toc {
    page-break-before: auto;
}

:link {
    color: #00C;
    background: transparent 
}
:visited {
    color: #609;
    background: transparent 
}
:link:active, :visited:active {
    color: #C00;
    background: transparent
}
:link:hover, :visited:hover {
    background: #ffa;
}
code :link, code :visited {
    color: inherit;
}

:target {
   background:         #ffa;
   -moz-box-shadow:    0 0 25px #ffa;
   -webkit-box-shadow: 0 0 150px #ffa;
   box-shadow:         0 0 25px #ffa;
}

hr {
    display: block;
    background: none;
    border: none;
    padding: 0;
    margin: 2em 0;
    height: auto;
}
hr.bookmark {
    border: dashed 2em black;
    background: yellow;
}

pre {
    margin-left: 2em; white-space: pre-wrap;
}
pre, code {
    font-size: inherit;
    font-family: monospace, Droid Sans Fallback, sans-serif; 
    font-variant: normal; 
}
pre strong {
    color: black;
    font: inherit;
    font-weight:
    bold; background: yellow; 
}
pre em {
    font-weight: bolder;
    font-style: normal; 
}

pre.idl {
    border: solid thin;
    background: #EEEEEE;
    color: black;
    padding: 0.5em 1em;
    position:relative
}
pre.idl :link, pre.idl :visited {
    color: inherit;
    background: transparent;
}
pre.idl::before {
    content: "IDL";
    font: bold small sans-serif;
    padding: 0.5em;
    background: white;
    position: absolute;
    top: 0;
    margin: -1px 0 0 -4em;
    width: 1.5em;
    border: thin solid;
    border-radius: 0 0 0 0.5em
}

/* WHATWG-version:
.example { 
    display: block;
    color: #222222;
    background: #FCFCFC;
    border-left: double;
    margin-left: 2em;
    padding-left: 1em; 
}
td > .example:only-child { 
    margin: 0 0 0 0.1em;
}
*/
/* W3C-version: */
.example {
    counter-increment: exampleno;
}
div.example:before {
    content: "Example";
    content: "Example " counter(exampleno, upper-roman);
    font: bold small sans-serif;
    /*float: left;*/
    position: absolute;
    top: -0.6em;
    left: -2.5em;
    min-width: 7.5em;
    text-align: center;
    line-height: 1em;
    color: #FFF8DD;
    background: #600;
    padding: 0.1em;
    border: thin solid #999;
    /*margin: -1.3em 0 0.3em -2.5em;*/
}
pre.example:before {
    content: "Example";
    content: "Example " counter(exampleno, upper-roman);
    font: bold small sans-serif;
    /*float: left;*/
    position: absolute;
    top: -0.6em;
    left: -2.5em;
    min-width: 7.5em;
    text-align: center;
    line-height: 1em;
    color: #FFF8DD;
    background: #600;
    padding: 0.1em;
    border: thin solid #999;
    /*margin: -1.3em 0 0.3em -2.5em;*/
}
div.example, div.html, div.xml {
    background: #FFF8DD;
    padding: 1em 0.5em 0.5em 0.5em;
    margin: 1em 0;
    border: thin solid #999;
    position: relative;
    clear: both;
    color: #600;
}
pre.example, pre.html, pre.xml {
    background: #FFF8DD;
    padding: 0em 0.5em 0.5em 0.5em;
    margin: 1em 0;
    border: thin solid #999;
    position: relative;
    clear: both;
    color: #600;
}
pre.example, pre.html, pre.xml {
    padding-top: 1.5em;
}
div.illegal, pre.illegal { color: red }
div.illegal p { color: black }

em.fixme::before {
    content: 'FIXME:';
    color: White;
    background-color: Red;
    padding: 0 0.2em;
    border-radius: 0.2em;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8em;
}

div.algorithm {
    padding: 0.5em 1em;
    background-color: #EEE;
}

span.ref {
    border-bottom: 1px dotted Gray;
}

pre.asn {
    border: solid thin;
    background: #EEEEEE;
    color: black;
    padding: 0.5em 1em;
}
pre.asn :link, pre.asn :visited {
    color: inherit;
    background: transparent;
}

pre.css {
    border: solid thin black;
    background: #FFE;
    color: black;
    padding: 0.5em 1em;
}
pre.css:first-line {
    color: #AAAA50; 
}


p { 
    margin: 1em 0; 
}

dl, dd {
    margin-top: 0;
    margin-bottom: 0;
}
dt {
    margin-top: 0.75em;
    margin-bottom: 0.25em;
    clear: left;
    page-break-after: avoid;
}
dt + dt {
    margin-top: 0; 
}
dd dt {
    margin-top: 0.25em;
    margin-bottom: 0; 
}
dd p, dd ol, dd ol.brief {
    margin-top: 0; 
}
dd dl + p {
    margin-top: 1em;
}
dd table + p {
    margin-top: 1em;
}
p + * > li, dd li {
    margin: 1em 0;
}
dt, dfn {
    font-weight: bold;
    font-style: normal; 
}
.toc dfn, h1 dfn, h2 dfn, h3 dfn, h4 dfn, h5 dfn, h6 dfn {
    font: inherit; 
}
i, em, dt dfn {
    font-style: italic;
}

var sub {
    vertical-align: bottom;
    font-size: smaller;
    position: relative;
    top: 0.1em;
}

table { 
    border-collapse: collapse;
    border-style: hidden hidden none hidden;
}
table thead, table tbody {
    border-bottom: solid; 
}
table tbody th {
    text-align: left; 
}
table tbody th:first-child {
    border-left: solid;
}
table td, table th {
    border-left: solid;
    border-right: solid;
    border-bottom: solid thin;
    vertical-align: top;
    padding: 0.2em;
}

blockquote {
    margin: 0 0 0 2em;
    border: 0;
    padding: 0;
    font-style: italic;
}
ins {
    background: green;
    color: white;
    text-decoration: none;
}
del {
    background: maroon;
    color: white;
    text-decoration: line-through;
}
body ins, body del {
    display: block; 
}
body * ins, body * del {
    display: inline;
}

img.extra, p.overview {
    float: right;
}

.domintro::before {
    display: table;
    margin: -1em -0.5em -0.5em auto;
    width: auto;
    content: 'This box is non-normative. Implementation requirements are given below this box.';
    color: black;
    font-style: italic;
    border: solid 2px;
    background: white;
    padding: 0 0.25em;
}
dl.domintro {
    color: purple;
    margin: 2em 0 2em 2em;
    padding: 0.5em 1em;
    border: none;
    background: #F2EEFF;
}
hr + dl.domintro, div.impl + dl.domintro {
    margin-top: 2.5em;
    margin-bottom: 1.5em; 
}
dl.domintro dt, dl.domintro dt * {
    color: black; 
    text-decoration: none; 
}
dl.domintro dd {
    margin: 0.5em 0 1em 2em;
    padding: 0; 
}
dl.domintro dd p {
    margin: 0.5em 0;
}

dl.switch {
    padding-left: 2em;
}
dl.switch > dt {
    text-indent: -1.5em;
}
dl.switch > dt:before {
    content: '\21AA'; /* rightwards arrow with hook */
    padding: 0 0.5em 0 0;
    display: inline-block;
    width: 1em;
    text-align: right;
    line-height: 0.5em; 
}

dl.triple {
    padding: 0 0 0 1em;
}
dl.triple dt, dl.triple dd {
    margin: 0;
    display: inline 
}
dl.triple dt:after {
    content: ':'; 
}
dl.triple dd:after {
    content: '\A';
    white-space: pre; 
}

.old {
    text-decoration: line-through;
    color: silver;
    background: transparent;
}
.chg, .new {
    text-decoration: underline;
    color: green;
    background: transparent;
}
a .new {
    border-bottom: 1px blue solid; 
}

p  > span:not([title=""]):not([class="XXX"]):not([class="impl"]):not([class="note"]),
li > span:not([title=""]):not([class="XXX"]):not([class="impl"]):not([class="note"]) { 
    border-bottom: solid #CC99CC;
}

.brief { 
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.1; 
}
.brief li { 
    margin: 0; padding: 0; 
}
.brief li p { 
    margin: 0; padding: 0; 
}

.category-list { 
    margin-top: -0.75em;
    margin-bottom: 1em;
    line-height: 1.5; 
}
.category-list::before { 
    content: '\21D2\A0'; /* rightwards double arrow, non-breaking space */
    font-size: 1.2em;
    font-weight: 900; 
}
.category-list li { 
    display: inline; 
}
.category-list li:not(:last-child)::after { 
    content: ', '; 
}
.category-list li > span, .category-list li > a { 
    text-transform: lowercase; 
}
.category-list li * { 
    text-transform: none; 
}

[title=WIP], [title=TBW] { 
    background: red; 
    color: yellow; 
    padding: 0.1em 0.3em; 
    border: dotted white; 
    margin: 0 0.7em 0 0.2em; 
}
[title=WIP] :link, [title=WIP] :visited {
    background: transparent;
    color: inherit; 
}
/*
[title=TBW] { 
    background: red; 
    color: yellow; 
    padding: 0.1em 0.3em; 
    border: dotted white; 
    margin: 0 0.7em 0 0.2em; 
}
[title=TBW] :link, [title=TBW] :visited {
    background: transparent;
    color: inherit; 
}
[title=SCS] { 
    background: green;
    color: white;
    padding: 0.1em 0.3em;
    border-style: 
    none dashed; 
    margin: 0 0.7em 0 0.2em; 
}
[title=SCS] :link, [title=SCS] :visited { 
    background: transparent;
    color: inherit; 
}
*/

.issue { 
    color: #600;
    background: white;
    border: solid red;
    padding: 0.5em;
    margin: 1em 0;
}
.issue > :first-child { 
    margin-top: 0; 
}
p .issue {
    line-height: 3em; 
}
.issue::before, .issue::after {
    content: " ** "; 
    position: absolute; 
    left: 0; width: 8em;
    text-align: right; 
}

.note {
    color: purple;
    background: transparent;
    font-weight: bolder; 
    font-style: italic; 
    font-family: sans-serif, Droid Sans Fallback; 
}
p.note, div.note { 
    padding: 0.5em 2em; 
}
span.note {
    padding: 0 2em; 
}
p.note::before { 
    content: 'Note: '; 
}
.note em, .warning em, .note i, .warning i { 
    font-style: normal; 
}
.note p:first-child, .warning p:first-child {
    margin-top: 0; 
}
.note p:last-child, .warning p:last-child { 
    margin-bottom: 0; 
}

.warning { 
    color: red; 
    background: transparent; 
    font-weight: bolder; 
    font-style: italic; 
}
.warning::before {
    font-style: normal; 
}
p.warning::before { 
    content: '\26A0 Warning! '; /* warning sign */
}

.bookkeeping::before { 
    display: block; 
    content: 'Bookkeeping details'; 
    font-weight: bolder; 
    font-style: italic; 
}
.bookkeeping { 
    font-size: 0.8em;
    margin: 2em 0; 
}
.bookkeeping p {
    margin: 0.5em 2em;
    display: list-item;
    list-style: square; 
}
.bookkeeping dt {
    margin: 0.5em 2em 0; 
}
.bookkeeping dd {
    margin: 0 3em 0.5em; 
}

.critical { 
    margin: 1em;
    border: double thick red; 
    padding: 1em; 
    background: #FFFFCC; 
}
.critical > :first-child { 
    margin-top: 0; 
}

.element { 
    background: #FFEEFF;
    color: black; 
    margin: 0 0 1em 0.15em; 
    padding: 0 1em 0.25em 0.75em; 
    border-left: solid #FF99FF 0.25em; 
    position: relative; 
    z-index: 1; 
}
.element::before { 
    position: absolute; 
    z-index: 2;
    top: 0; 
    left: -1.15em;
    height: 2em; 
    width: 0.9em; 
    background: #FFEEFF; 
    content: ' ';
    border-style: none none solid solid;
    border-color: #FF99FF;
    border-width: 0.25em; 
}
h4 + .element, h4 + div + .element {
    margin-top: -2.5em;
    padding-top: 2em; 
}

.hide { 
    display: none 
}

body.dfnEnabled dfn { 
    cursor: pointer; 
}
.dfnPanel {
  display: inline;
  position: absolute;
  z-index: 10;
  height: auto;
  width: auto;
  padding: 0.5em 0.75em;
  font: small sans-serif, Droid Sans Fallback;
  background: #DDDDDD;
  color: black;
  border: outset 0.2em;
}
.dfnPanel * {
    margin: 0; padding: 0; 
    font: inherit; 
    text-indent: 0; 
}
.dfnPanel :link, .dfnPanel :visited { 
    color: black; 
}
.dfnPanel p {
    font-weight: bolder; 
}
.dfnPanel * + p {
    margin-top: 0.25em;
}
.dfnPanel li {
    list-style-position: inside; 
}

ul.domTree, ul.domTree ul {
    padding: 0 0 0 1em;
    margin: 0; 
}
ul.domTree li {
    padding: 0; 
    margin: 0; 
    list-style: none; 
    position: relative; 
}
/*ul.domTree li li { 
    list-style: none; 
}*/
ul.domTree li:first-child::before { 
    position: absolute; 
    top: 0; 
    height: 0.6em; 
    left: -0.75em; 
    width: 0.5em; 
    border-style: none none solid solid; 
    content: ''; 
    border-width: 0.1em;
}
ul.domTree li:not(:last-child)::after { 
    position: absolute; 
    top: 0; 
    bottom: -0.6em; 
    left: -0.75em; 
    width: 0.5em; 
    border-style: none none solid solid; 
    content: ''; 
    border-width: 0.1em; 
}
ul.domTree span { 
    font-style: italic; 
    font-family: serif, Droid Sans Fallback; 
}
/*
    .t1  element
    .t2  attribute
    .t3  text node
    .t4  CDATA
    .t5  entity reference
    .t6  entity
    .t7  PI
    .t8  comment
    .t9  document
    .t10 DOCTYPE
    .t11 document fragment
    .t12 notation
*/
ul.domTree .t1 code {
    color: purple; 
    font-weight: bold; 
}
ul.domTree .t2 { 
    font-style: normal; 
    font-family: monospace, Droid Sans Fallback; 
}
ul.domTree .t2 .name { 
    color: black; 
    font-weight: bold; 
}
ul.domTree .t2 .value { 
    color: blue; 
    font-weight: normal; 
}
ul.domTree .t3 code, .domTree .t4 code, .domTree .t5 code { 
    color: gray; 
}
ul.domTree .t7 code, .domTree .t8 code { 
    color: purple; 
}
ul.domTree .t10 code { 
    color: teal; 
}

/* ----------------------- */

@media screen {
    html { 
        background: #eeeeee; 
    }
    body {
        margin-bottom: 30%;
        border-bottom: thin solid #770a66; 
    }
    code { 
        color: orangered; 
    }
}

@media aural {  
    h1, h2, h3 {
        stress: 20;
        richness: 90 
    }
    .hide { 
        speak: none 
    }
    p.copyright { 
        volume: x-soft; 
        speech-rate: x-fast 
    }
    dt { 
        pause-before: 20% 
    }
    code, pre {
        speak-punctuation: code 
    } 
}

@media print {
    html { 
        font-size: 8pt; 
    }
    @page { 
        margin: 1cm 1cm 1cm 1cm; 
    }
    @page :left {
        @bottom-left {
            font: 6pt sans-serif, Droid Sans Fallback;
            content: counter(page);
            padding-top: 0em;
            vertical-align: top;
        }
    }
    @page :right {
        @bottom-right {
            font: 6pt sans-serif, Droid Sans Fallback;
            content: counter(page);
            text-align: right;
            vertical-align: top;
            padding-top: 0em;
        }
    }
    a[href^="#"]::after {
        font-size: 0.6em; 
        vertical-align: super; 
        padding: 0 0.15em 0 0.15em; 
        content: "p" 
        target-counter(attr(href), page); 
    }
    .toc a::after { 
        font: inherit; 
        vertical-align: baseline; 
        padding: 0; 
        content: leader('.') target-counter(attr(href), page); 
    }
    pre a[href^="#"]::after, blockquote a[href^="#"]::after { 
        content: "";
        padding: 0; 
    }
    table { 
        font-size: smaller; 
    }
    :link, :visited { 
        text-decoration: none; 
        color: inherit; 
        background: transparent; 
    }
}

