body {
    font-family: Helvetica;
    line-height: 1.5em;
}

em.fixme::before {
    content: 'FIXME:';
    color: White;
    background-color: Red;
    padding: 0 0.2em;
    border-radius: 0.2em;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8em;
}

dfn {
    font-weight: bold;
}

div.algorithm {
    padding: 0.5em 1em;
    background-color: LightGray;
}

span.ref {
    border-bottom: 1px dotted Gray;

img {
    border: 1px solid Black;
}
