body {
    font-family: Helvetica;
    line-height: 1.5em;
}

em.fixme::before {
    content: 'FIXME:';
    color: White;
    background-color: Red;
    padding: 0 0.2em;
    border-radius: 0.2em;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8em;
}

dfn {
    font-weight: bold;
}

div.algorithm {
    padding: 0.5em 1em;
    background-color: LightGray;
}

span.ref {
    border-bottom: 1px dotted Gray;
}

th, td {
    text-align: left;
    padding: 5px;
}

dfn:target {
    background: Yellow;
    box-shadow: 0 0 25px Yellow;
}

pre a {
    color: Black;
    text-decoration: none;
}

pre a:hover {
    text-decoration: underline;
}